main {
	margin: auto;
	max-width: 35rem;
	padding: 0 0.5rem;
	width: calc(100% - 1rem);
}

main > pre {
	overflow: auto;
	padding: 0.5rem;
}

.back {
	left: 0.5rem;
	font-size: 150%;
	position: fixed;
	opacity: 0.2;
	top: 0.25rem;
}
.back:hover { opacity: 1; }
