{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Tags &mdash; {{ config.title }}{% endblock title %}

{% block body %}
<main>
	{% set_global items = [] -%}
	{% for term in terms -%}
		{% set_global page_count = 0 -%}
		{% for page in term.pages -%}
			{% if not page.draft and "_index.md" in page.ancestors -%}
				{% set_global page_count = page_count + 1 -%}
			{% endif -%}
		{% endfor -%}
		{% if page_count != 0 -%}
			{% set_global items = items | concat(with=[term.name ~ "|" ~ term.permalink ~ "|" ~ page_count]) -%}
		{% endif -%}
	{% endfor -%}
	{{ macros::list(items=items) }}
</main>
{% endblock body %}

{% block endbody %}
<script src="{{ config.base_url }}js/search.js"></script>
{% endblock endbody %}
