{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ term.name }} &mdash; {{ config.title }}{% endblock title %}

{% block body %}
<main>
	{% set_global items = [] -%}
	{% for page in term.pages -%}
		{% if not page.draft and "_index.md" in page.ancestors -%}
			{% set_global items = items | concat(with=[page.title ~ "|" ~ page.permalink ~ "|" ~ page.date]) -%}
		{% endif -%}
	{% endfor -%}
	{{ macros::list(items=items) }}
</main>
{% endblock body %}

{% block endbody %}
<script src="{{ config.base_url }}js/search.js"></script>
{% endblock endbody %}
