{% extends "index.html" %}

{% block title %}
	<title>{{ term.name }} &mdash; {{ config.title }}</title>
{% endblock title %}

{% block header %}
	<header>
		<nav>
			<span><a href="{{ config.base_url }}">{{ config.title }}</a></span>
			<span><a href="{{ config.base_url }}tags">Tags</a></span>
		</nav>
		<h1>
			<a href="{{ config.base_url }}tags/{{ term.slug }}">
				{{ term.name }}
			</a>
		</h1>
	</header>
{% endblock header %}

{% block content %}
	{% for page in term.pages %}
		{{ macros::describe(config=config, page=page) }}
	{% endfor %}
{% endblock content %}
