a {
	color: black;
	text-decoration: none;
}
a:hover { text-decoration: underline; }
article { margin-bottom: 1em; }
body {
	background-color: #f0f8ff;
	font-family: "Source Sans Pro", sans-serif;
}
body > nav {
	float: right;
	padding: 0 40px;
}
code, pre {
	background-color: #ffffff;
	font-family: Inconsolata, monospace;
	display: inline-block;
	tab-size: 4;
}
dt { font-weight: bold; }
h1, h2, h3, h4, h5, h6 { font-family: "Roboto Condensed", sans-serif; }
header {
	margin-bottom: 2em;
	margin-left: 2.5em;
	margin-top: 2em;
}
header > h1 {
	font-size: 2.5em;
	margin: 0;
}
header > h1 > a:hover { text-decoration: none; }
header > nav { padding-bottom: 0.5em; }
header > nav > span:after { content: " > "; }
header > nav > span:last-child:after { content: unset; }
main { margin: 0 1em; }
main p { margin: 1em; }
main p a { text-decoration: underline; }
main p a:hover { text-decoration: none; }
pre {
	border: 1px solid black;
	padding: 0.5em;
}
.anchorjs-link { color: #7f7f7f; }
.post-tags {
	display: flex;
	list-style: none;
	margin-top: 1em;
	padding-left: 0;
}
.post-tags > li {
	display: inline-block;
	padding: 0 1em;
}
.side-by-side { display: flex; }
.side-by-side > div { padding: 0 1em; }
.tag {
	font-size: 2em;
	padding: 1em;
}
.tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#navbar {
	display: flex;
	flex-direction: column;
}
#navbar > a, #navbar > span {
	margin: 0.5em;
}

@media only screen and (max-width: 500px) {
	.tag { align-self: center; }
	.tags {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	#navbar {
		color: red;
	}
	#TableOfContents { display: none; }
}
