main {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 30em;
}

main > pre { overflow: auto; }

#back {
	left: 0.5em;
	font-size: 150%;
	position: fixed;
	opacity: 0.2;
	top: 0.25em;
}
#back:hover { opacity: 1; }
