#pages {
	display: flex;
	flex-direction: column;
}

#search-container, #pages {
	margin: auto;
	min-width: 20em;
}

#search {
	background-color: var(--background);
	border-color: var(--foreground-dim);
	border-width: 0 0 1px 0;
	color: var(--foreground-bright);
	font-family: var(--font-family);
	font-size: 1em;
	margin-top: 1em;
	min-width: 20em;
	text-align: center;
}

.page {
	border-bottom: 1px solid #7f7f7f;
	overflow: hidden;
	padding: 0.5em 0 0.5em 0.5em;
	transition-duration: 0.5s;
	transition-property: all;
	width: 100%;
}

.page:last-child {
	border-bottom: 0;
}

.page > a {
	display: inline-block;
	width: calc(100% - 0.5em);
}

.page.hidden {
	border: 0;
	line-height: 0;
	padding-bottom: 0;
	padding-top: 0;
}
