#pages {
	display: flex;
	flex-direction: column;
	margin: auto;
}

#search {
	background-color: var(--background);
	border-color: var(--foreground-dim);
	border-width: 0 0 1px 0;
	color: var(--foreground-bright);
	font-family: var(--font-family);
	font-size: 1.5rem;
	margin-top: 1.5rem;
	text-align: center;
}

.page {
	align-items: center;
	border-bottom: 1px solid #7f7f7f;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 1.5rem;
	justify-content: space-between;
	overflow: hidden;
	padding: 0.75rem;
	transition-duration: 0.5s;
	transition-property: all;
}

.page:last-child { border-bottom: 0; }

.page .date {
	font-size: 50%;
	margin: auto 0;
	padding-left: 0.5rem;
}

.page.hidden {
	border: 0;
	line-height: 0;
	padding-bottom: 0;
	padding-top: 0;
}
