<!DOCTYPE html>

<html lang="en">
	<head>
		{{ partial "head.html" . }}
		<title>{{ .Title }} &mdash; {{ .Site.Title }}</title>
	</head>
	<body>
		<div id="main-container">
			<header>
				<nav>
					<span><a href="/">{{ .Site.Title }}</a></span>
				</nav>
				<h1><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
				<ul class="post-tags">
					{{ range .Params.tags }}
					<li><a href="{{ ($.Site.GetPage "taxonomyTerm" "tags").Permalink }}{{ urlize . }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</header>
			{{ .TableOfContents }}
			<main>
				{{ .Content }}
			</main>
		</div>
		<script>
			var sectionAnchors = new AnchorJS();
			sectionAnchors.options.class = "section-anchor";
			sectionAnchors.options.icon = "#";
			sectionAnchors.add("main h1, main h2, main h3, main h4, main h5, main h6");
		</script>
	</body>
</html>
