<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>{{ .Title }} &mdash; {{ .Site.Title }}</title>
		{{ partial "head.html" . }}
	</head>
	<body>
		<header>
			<h1>{{ .Title }}</h1>
			{{ .TableOfContents }}
		</header>
		<main>
			{{ .Content }}
		</main>
		<script>
			var sectionAnchors = new AnchorJS();
			sectionAnchors.options.class = "section-anchor";
			sectionAnchors.options.icon = "#";
			sectionAnchors.add("main h1, main h2, main h3, main h4, main h5, main h6");

			// Re-enable after https://github.com/bryanbraun/anchorjs/issues/14 is closed.
			/*
			var paragraphAnchors = new AnchorJS();
			paragraphAnchors.options.class = "paragraph-anchor";
			paragraphAnchors.options.icon = "¶";
			paragraphAnchors.options.placement = "left";
			paragraphAnchors.add("main p");
			*/
		</script>
	</body>
</html>
