<!DOCTYPE html>

<html lang="en">
	<head>
		{{ partial "head.html" }}
		<title>{{ .Title }} &mdash; {{ .Site.Title }}</title>
	</head>
	<body>
		<div id="main-container">
			<header>
				<nav>
					<span><a href="/">{{ .Site.Title }}</a></span>
					<span><a href="{{ (.Site.GetPage "taxonomyTerm" .Data.Plural).Permalink }}">{{ .Data.Plural | title }}</a></span>
				</nav>
				<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
			</header>
			<main>
				{{ range .Data.Pages.ByDate.Reverse }}
				{{ partial "describe.html" . }}
				{{ end }}
			</main>
		</div>
	</body>
</html>
