{% extends "index.html" %}

{% block title %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/solarized.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"></script>
<title>{{ config.title }}</title>
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="reveal">
	{{ page.content | safe }}
</div>
{% endblock content %}

{% block footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js"></script>
<script>
	/*
	Reveal.initialize({
		dependencies: [
			{ src: "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/markdown/marked.js" },
			{ src: "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/markdown/markdown.min.js" },
			{ src: "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/notes/notes.js", async: true },
		],
		markdown: {
			smartypants: true,
		},
	});
	*/
</script>
{% endblock footer %}
