<!DOCTYPE html>

<html lang="en">
	<head>
		{{ partial "head.html" }}
		<title>{{ .Site.Title }}</title>
	</head>
	<body>
		<div id="main-container">
			<header>
				<h1><a href="/">{{ .Site.Title }}</a></h1>
			</header>
			<nav id="navbar">
				<a href="{{ ($.Site.GetPage "taxonomyTerm" "tags").Permalink }}">Tags</a>
				<span class="spacer"></span>
				<a href="https://github.com/remexre">GitHub</a>
				<a href="{{ .Site.RSSLink }}" type="application/rss+xml">RSS</a>
			</nav>
			<main>
				{{ range (.Site.GetPage "section" "posts").Pages.ByPublishDate.Reverse }}
				{{ partial "describe.html" . }}
				{{ end }}
			</main>
		</div>
	</body>
</html>
