<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}{% endblock title %}</title>
		<link rel="stylesheet" type="text/css" href="{{ config.base_url }}css/main.css">
		{% block endhead %}{% endblock endhead %}
	</head>
	<body>
		<header>
			<a class="subtle" href="{{ config.base_url }}">Home</a>
			<a class="subtle" href="{{ config.base_url }}tags">Tags</a>
			<a class="subtle" href="{{ config.base_url }}contact">Contact</a>
			<a class="subtle" href="{{ config.base_url }}projects">Projects</a>
		</header>
		<div class="spacer"></div>
		{% block body %}{% endblock body %}
		<div class="spacer"></div>
		{% block endbody %}{% endblock endbody %}
	</body>
</html>
