<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ page.title }} &mdash; {{ config.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ config.base_url }}css/main.css">
	</head>
	<body>
		<a class="back" href=".." title="Back">&lsaquo;</a>
		<header>
			<a href="mailto:remexre@gmail.com">Email</a>
			<a href="https://github.com/remexre">GitHub</a>
			<a href="https://keybase.io/remexre">Keybase</a>
			<a href="{{ config.base_url }}remexre.asc">GPG Key</a>
			<a href="{{ config.base_url }}id_rsa.pub">SSH Key</a>
		</header>
		<article>
			<h1 class="title">
				<a href="{{ page.permalink }}">{{ page.title }}</a>
				{% if page.draft %}(Draft){% endif %}
			</h1>
			{{ page.content | safe }}
		</article>
		{% if page.extra.comment_issue %}
			<script src="https://utteranc.es/client.js"
					repo="remexre/remexre.github.io"
					issue-number="{{ page.extra.comment_issue }}"
					label="comments"
					theme="github-dark"
					crossorigin="anonymous"
					async>
			</script>
			<div class="comments">
				<!-- This needs to be in a div because the NoScript extension
				transforms noscript elements into spans, while also getting rid
				of id and class, so applying CSS is no longer possible (without
				awful, awful hacks). -->
				<noscript>
					Comments (powered by
					<a href="https://utteranc.es">utteranc.es</a>) require
					JavaScript.
				</noscript>
			</div>
		{% else %}
			<div class="comments">
				Comments are not enabled on this post.
			</div>
		{% endif %}
		<div class="spacer"></div>
		<script src="{{ config.base_url }}ext/anchor.min.js"></script>
		<script>
			const anchors = new AnchorJS();
			anchors.options.placement = "left";
			anchors.add("article h1:not(.title)");
		</script>
	</body>
</html>
