{% extends "base.html" %}

{% block title %}{{ page.title }} &mdash; {{ config.title }}{% endblock title %}

{% block body %}
<article>
	<h1 class="title">
		<a class="subtle" href="{{ page.permalink }}">{{ page.title }}</a>
		<span class="spacer"></span>
		<span class="meta">
			{% if page.draft -%}Draft{% else -%}{{ page.date }}{% endif -%}
		</span>
	</h1>
	{{ page.content | safe }}
</article>
{% if page.extra.comment_issue -%}
	<script src="https://utteranc.es/client.js" repo="remexre/remexre.github.io"
		issue-number="{{ page.extra.comment_issue }}" label="comments" theme="github-dark"
		crossorigin="anonymous" async>
	</script>
	<div class="comments">
		<!-- This needs to be in a div because the NoScript extension transforms noscript
		elements into spans, while also getting rid of id and class, so applying CSS is no
		longer possible (without awful, awful hacks). -->
		<noscript>
			<hr>
			Comments (powered by
			<a href="https://utteranc.es">utteranc.es</a>) require
			JavaScript. However, you can comment directly on the
			<a href="https://github.com/remexre/remexre.github.io/issues/{{page.extra.comment_issue}}">GitHub issue</a>
			that stores the comments.
		</noscript>
	</div>
{% else -%}
	<div class="comments">
		Comments are not enabled on this post.
	</div>
{% endif -%}
{% endblock body %}

{% block endbody %}
<script src="{{ config.base_url }}ext/anchor.min.js"></script>
<script>
	const anchors = new AnchorJS();
	anchors.options.class = "icon subtle";
	anchors.options.placement = "left";
	anchors.add("article h1:not(.title), article h2");
</script>
{% endblock endbody %}
