<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ page.title }} &mdash; {{ config.title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ config.base_url }}css/main.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/css/reveal.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/css/theme/{{ page.extra.theme | default(value="black") }}.min.css">
	</head>
	<body>
		<a class="back subtle" href=".." title="Back">&lsaquo;</a>
		<div class="reveal">
			<div class="slides">
				<section data-markdown="{{ config.base_url }}slides/{{ page.slug }}.md"
				         data-separator-vertical="-=-">
				</section>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/js/reveal.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/plugin/markdown/marked.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.8.0/plugin/markdown/markdown.min.js"></script>
		<script>Reveal.initialize({ slideNumber: 'c/t' })</script>
	</body>
</html>
