{% extends "index.html" %}

{% block css %}
<link href="{{ config.base_url }}css/slides.css" rel="stylesheet">
{% endblock css %}

{% block title %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/solarized.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"></script>
<title>{{ config.title }}</title>
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="reveal">
	<div class="slides">
		<section data-markdown data-separator="^\r?\n---\r?\n$">
			<textarea data-template>{{ page.raw_content | safe }}</textarea>
		</section>
	</div>
</div>
{% endblock content %}

{% block footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js"></script>
<script>
	Reveal.initialize({
		dependencies: [
			{ src: "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/markdown/marked.js" },
			{ src: "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/markdown/markdown.min.js" },
			{ src: "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/notes/notes.js", async: true },
		],
		markdown: {
			smartypants: true,
		},
	});
</script>
{% endblock footer %}
