Inter-BoldItalic.woff filter=lfs diff=lfs merge=lfs -text
inter.css filter=lfs diff=lfs merge=lfs -text
Inter-ExtraLightItalic-BETA.woff filter=lfs diff=lfs merge=lfs -text
Inter-Light-BETA.woff filter=lfs diff=lfs merge=lfs -text
Inter-LightItalic-BETA.woff filter=lfs diff=lfs merge=lfs -text
Inter-Black.woff filter=lfs diff=lfs merge=lfs -text
Inter-MediumItalic.woff filter=lfs diff=lfs merge=lfs -text
Inter-Medium.woff filter=lfs diff=lfs merge=lfs -text
Inter-Bold.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-Italic.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-Thin-BETA.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-BoldItalic.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-Bold.woff filter=lfs diff=lfs merge=lfs -text
Inter-ExtraBoldItalic.woff filter=lfs diff=lfs merge=lfs -text
Inter-italic.var.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-ExtraBoldItalic.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-ExtraLight-BETA.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-roman.var.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-SemiBoldItalic.woff filter=lfs diff=lfs merge=lfs -text
Inter-ThinItalic-BETA.woff filter=lfs diff=lfs merge=lfs -text
Inter-ThinItalic-BETA.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-BlackItalic.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-ExtraBold.woff filter=lfs diff=lfs merge=lfs -text
Inter-ExtraBold.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-Thin-BETA.woff filter=lfs diff=lfs merge=lfs -text
Inter-SemiBold.woff filter=lfs diff=lfs merge=lfs -text
Inter-ExtraLightItalic-BETA.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-Italic.woff filter=lfs diff=lfs merge=lfs -text
Inter-MediumItalic.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-Regular.woff filter=lfs diff=lfs merge=lfs -text
Inter-Regular.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-SemiBoldItalic.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-SemiBold.woff2 filter=lfs diff=lfs merge=lfs -text
Inter.var.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-BlackItalic.woff filter=lfs diff=lfs merge=lfs -text
Inter-Black.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-ExtraLight-BETA.woff filter=lfs diff=lfs merge=lfs -text
Inter-Light-BETA.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-LightItalic-BETA.woff2 filter=lfs diff=lfs merge=lfs -text
Inter-Medium.woff2 filter=lfs diff=lfs merge=lfs -text
LICENSE.txt filter=lfs diff=lfs merge=lfs -text
